#container
{
  width: 100%;
}


#top
{
  padding: 0.5em;
}

#tabs
{
  height: 1%;
  overflow: hidden;
  background: #222 url(images/tab.png) top left repeat-x;
  padding: 0px 0px 0px 30px;
  -moz-border-radius-topleft: 6px;
  -khtml-border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

#tabs ul
{
  margin: 0;
  padding: 0;
}

#tabs ul li
{
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
}

#tabs ul li a
{
  padding: 8px 20px;
  display: block;
  text-decoration: none;
}

#tabs ul li a:link, #tabs ul li a:visited
{
  background: #222 url(images/tab.png) top left repeat-x;
  color: #fff;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
}

#tabs ul li a:hover, #tabs ul li a:active
{
  background: #333 url(images/tab.png) 0 -100px repeat-x;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
}

#tabs ul li a.active:link, #tabs ul li a.active:visited
{
  background: #333 url(images/tab.png) 0 -100px repeat-x;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
}

#subtabs
{
  background: #fff url(images/subtab.png) top left repeat-x;
  padding: 10px 5px 5px 13px;
  border: none;
  text-align: left;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

#subtabs a {
  color: #000;
}

.activesubtab
{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#breadcrumbs
{
  padding: 0px 0px 0px 10px;
  background-color: #fff;
  color: #000;
  border-top: none;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: none;
  font-size:0.813em; 
}

#breadcrumbs form
{
  float: right;
}

#content
{
  padding: 20px;
  background-color: #fff;
  border-top: 1px dotted #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-bottom-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#footer
{
  clear: both;
  margin: 0;
  padding: .5em;
}

#footer a.subtle
{
  font-size:0.688em;
}

body             { color:#000; font-family:Arial,Helvetica,sans-serif; font-size:0.938em; margin-top:0px; background-color:#fff; }

pre              { color:#000; background-color:#f2f1f2; border:1px solid #e0e0e0; padding:10px;}
pre.clear        { color:#000; background-color:#ffffff; border:0px solid #ffffff; padding:10px;}

a                { color:#333; }
a:visited        { color:#333; }

a img            { border:none; }

td.line          { background-color:#e0e0e0; font-size:1px; padding:0px; border-spacing:0px; }
td.border_bottom { width:100%; height:1px; padding:0px; border-bottom:1px #e0e0e0 dotted; font-size:1px; }
td.border_top    { width:100%; height:1px; padding:0px; border-top:1px #e0e0e0 dotted; font-size:1px; }
td.border_left   { width:100%; height:1px; padding:0px; border-left:1px #e0e0e0 dotted; font-size:1px; }

.title           { color:#000; background-color:#fff; font-size:1.0em; font-weight:bold; text-decoration:none; }
.title:hover     { color:#000; background-color:#fff; font-size:1.0em; font-weight:bold; text-decoration:none; }
.title:visited   { color:#000; background-color:#fff; font-size:1.0em; font-weight:bold; text-decoration:none; }

.center          { text-align:center; }

input.small      { font-size:0.688em; background-color:#fff; }
input.smallbtn   { font-size:0.688em; background-color:#e0e0e0; }
a.small          { font-size:0.688em; text-decoration:underline; }
td.small         { font-size:0.688em; padding:0px; text-align:left; border-spacing:0px; }

td.colname       { color:#fff; background-color:#888; font-weight:bold; }
td.collight      { background-color:#f1f1f1; }

table.grid       {border-collapse:collapse; border: 1px solid #c0c0c0; }
th.grid          {background: #888; color: #fff; border: 1px solid #c0c0c0; padding-left:5px; padding-right:5px;}
td.grid          {border: 1px solid #c0c0c0; padding-left:5px; padding-right:5px;}

h1               { font-size:1.4em; font-weight:bold; }
h2               { font-size:1.2em; font-weight:bold; }
h3               { font-size:1.0em; font-weight:bold; }
h4               { font-size:0.8em; font-weight:bold; }
h5               { font-size:0.6em; font-weight:bold; }

.searchform      {border: 1px solid #e0e0e0}

.addthis_button_facebook_like { overflow:hidden; width: 50px !important; }

.addthis_pill_style { width: 50px !important; }